@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {

    --header: #483434;
    --bg: #EED6C4;
    --black: #6B4F4F;
    --border: 0.1rem solid #FFF3E4;
    --white: #fff;
    
}

*{
    font-family: 'Roboto' , sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;

}

html{

    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}
 body{

    background: var(--bg);
    color: #FFF3E4;
 }


 section{

    padding: 1rem 7% ;
 }

 .heading{

    background-color: var(--header);
    border-bottom: var(--border);
    text-transform: uppercase;
    padding: 1.5rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;

 }

 .btn{
   margin-left: 1rem;
   font-size: 1.6rem;
   color: #EED6C4;
}
img{
   width: 150px;
}

.icons{

   padding: 1rem 7%;
   align-items:center;
   display:contents;
   justify-content: space-between;
   margin-left: 1rem;
   font-size: 1.2rem;
}

.footer{

   background-color: var(--header);
   border-bottom: var(--border);
   text-transform: uppercase;
   padding: 1.5rem 7%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position:relative;

}
.container {

 background-color: #483434;
 padding: 1rem;
 margin: 1.5rem;

}